@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.6s ease-out;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body {
  overflow: hidden;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {
  html, body, #root {
    @apply bg-slate-900;
  }
}


.date-input-fix {
  width: 100%;
  min-width: 0;
  appearance: none;
  -webkit-appearance: none; /* สำคัญมากสำหรับ iOS */
  box-sizing: border-box;
}

.input-wrapper {
  width: 100%;
  overflow: hidden;
}

.date-input-fix {
  width: 100%;
  min-width: 0;
  appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.8;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}